@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dulcelin';
    src: url('../fonts/Dulcelin.otf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)), url("../images/nightsky.jpg");
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover; 
    color: white;
    text-align: center;
}

h1 {
    padding-top: 60px;
    margin: 0;
    font-family: 'dulcelin';
    font-size: 56px;
}

ul {
    padding: 0;
}

li {
    display: inline;
    margin-left: 18px;
    margin-right: 18px;
    list-style-type: none;
    font-family: 'roboto';
    font-size: 22px;
}

li a {
    color: aliceblue;
}

li a:Hover {
    color: darkkhaki;
    }

a {
    text-decoration: none;
    color: white;
}

i {
    font-family: 'dulcelin';
    font-size: 24px;
    line-height: 36px;
    display: block;
    margin-top: 140px;
    padding-bottom: 100px;
}

.social {
    width: 80px;
    height: auto;
}